/* Подключаю шрифты */

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url(../fonts/lato-v23-latin-regular.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url(../fonts/lato-v23-latin-regular.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url(../fonts/lato-v23-latin-700.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url(../fonts/lato-v23-latin-700.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url(../fonts/lato-v23-latin-900.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url(../fonts/lato-v23-latin-900.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* @font-face {
  font-family: 'Open_Sans';
  src: url(../fons/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
} */

/* чтобы учитывать отступы */
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  /* унаследовать */
  box-sizing: inherit;
}

/*! тег input,button,textarea,form не наследует шрифты  */
/* Все элементы это унаследуют */
body {
  max-width: 1440px;
  margin: 0 auto;
  /* font-family: 'Open_Sans'; */
  font-family: 'Lato';
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #102746;
}

input,button,textarea,form {
  font-family: inherit;  /* наследие шрифта */
}

/* Что бы картинка занимала 100% от контейнера и высота была авто */
img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper-full {
  max-width: 1262px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  position: relative; /* для позиционирования линии снизу */
  padding-bottom: 10px; /* учитываем линию */
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  color: #102746;
}

.section-title::before {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  content: '';
  width: 253px;
  height: 3px;
  background: #006DFE;
}

/*! Header style start *****************************************************/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.5s;
  z-index: 5;
}

.header_active {
  padding-bottom: 20px;
  z-index: 6;
  background-color: #0E1D28;
}

.header__wrapper {
  max-width: 1440px;
  padding: 30px 185px 20px 185px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; /* выравнивание вдоль поперечной оси */
  flex-wrap: wrap; /* Для переноса на след. строку */
}

.header__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Для переноса на след. строку */
  gap: 82px;
}

.header__link {
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
}

.header__link:hover,
.header__link:active,
.header__link:focus
{
  opacity: 0.75;
}

/*! START Burger */
.header__burger {
  position: relative;
  width: 40px;
  height: 28px;
  display: none;
}
.burger {
}
.burger__line {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #FFFFFF;
}
.burger__line-first {
  top: 0;
}
.burger__line-second {
  top: 50%;
  transform: translateY(-50%);
}
.burger__line-third {
  bottom: 0;
}
/*! END Burger */
/*! Header style end //////////////////////////////////////////////////////// */


/*! Intro style start **************************************************** */
.intro {
  padding-top: 263px;
  padding-bottom: 223px; /* когда будет много текста что бы не наехал на benefits__title */
  min-height: 100vh;
  /* no-repeat что бы не повторялась картинка*/
  /* center по центру*/
  background: url(../img/intro_bg.jpg) no-repeat center;
  /* картинка полностью покроет блок при любых размерах */
  background-size: cover;
}

.intro__title {
  max-width: 619px;
  margin-bottom: 22px;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: #FFFFFF;
}

.intro__subtitle {
  max-width: 546px;
  margin-bottom: 59px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.search-form__wrap {
}

.search-form__info {
  display: flex;
  flex-wrap: wrap;
}

.search-form-field {
  width: 297px;
  padding-left: 43px; /* учитываем и размер круга */
  padding-bottom: 22px;
  margin-right: 60px;
  background: transparent url(../img/svg/circle-ico.svg) no-repeat left 6px;
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #BFC0C5;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
}

.search-form-field::placeholder {
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
}

.search-form__submit {
  padding: 15px 39px; 
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  background: #1B7DFF;
  border: none;
}

.search-form__submit:hover,
.search-form__submit:focus,
.search-form__submit:active {
  background: #1366d5;
}
/*! Intro style End //////////////////////////////////////////////////////// */


/*! Benefits style Start  **************************************************** */
.benefits {
  margin-bottom: 131px;
}

.benefits__wrap {
  position: relative;
  max-width: 1262px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}

.benefits__title {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%); /* all hight title */
  width: 100%;
  padding: 93px 100px 88px 100px;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  color: #102746;
  background-color: #FFFFFF;
}

.benefits__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 55px;
  padding: 0 100px;
}

.benefits__card {
  /* что бы карточки занимали колонку */
  grid-column: span 1;
  margin-bottom: 112px;
}

.benefits__card-pic {
  max-width: 66px;
  margin-bottom: 37px;
}

.benefits__card-thumb {
  /* что бы убрать все начальные отступы у картинки */
  display: block; 
  transition: 0.4s;
}

.benefits__card-thumb:hover,
.benefits__card-thumb:focus {
  transform: scale(1.1);
}

.benefits__card-title {
  margin-bottom: 26px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
.benefits__card-desc {
  margin-bottom: 39px;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.benefits__card-more {
  background: url(../img/svg/arrow-right-ico.svg) no-repeat right center;
  padding-right: 59px; /* учитываем размер стрелки */
  background-size: 33px;
  font-size: 16px;
  line-height: 24px;
  color: #006DFE;
  text-decoration: none;
  transition: 0.5s;
}

.benefits__card-more:hover,
.benefits__card-more:focus {
  background: url(../img/svg/arrow-right-ico.svg) no-repeat 95% center;
  background-color: #00000011;
}
/*! Benefits style End //////////////////////////////////////////////////////// */


/*! Places style Start  **************************************************** */
.places {
  margin-bottom: 131px;
}

.places__caption {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}

.places__title {
  margin-right: 30px;
}

.places__view-all {
  background: url(../img/svg/arrow-right-ico.svg) no-repeat right center;
  padding-right: 59px; /* учитываем размер стрелки */
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #006DFE;
}

.places__view-all:hover,
.places__view-all:focus
{
  opacity: 0.65;
}

.places__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}

.places__card {
  position: relative;
  overflow: hidden;
}

.places__card:hover .places__card-pic {
  transform: scale(1.1);
}

/* для  */
.places__card::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: block;
  content: '';
  background-color: rgba(21, 24, 36, 0.4);
}

/* для размера блока */
.places__card-size-lg {
  grid-column: span 3;
}

.places__card-size-sm {
  grid-column: span 2;
}

.places__card-pic {
  width: 100%;       /* Что бы картинка занята весь блок places__card */
  transition: 0.4s;  /* при наведении анимация */
}

.places__card-pic-size-lg {
  height: 354px;     /* так как высота картинок разная уравняем ее сработает только с object-fit */ 
  object-fit: cover; /* при маштабировании в фокусе будет всегда центр картинку КРУТО */
}
.places__card-pic-size-sm {
  height: 283px;     /* так как высота картинок разная уравняем ее сработает только с object-fit */ 
  object-fit: cover; /* при маштабировании в фокусе будет всегда центр картинку КРУТО */
}

.places__card-title {
  position: absolute;
  bottom: 27px;
  left: 29px;
  z-index: 3;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: #FFFFFF;
}

.places__card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
/*! Places style End //////////////////////////////////////////////////////// */


/*! Tours style Start  **************************************************** */
.tours {
  margin-bottom: 139px;
}

.tours__tour {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 108px;
  align-items: center;
  margin-bottom: 77px;
}
.tour {
}
.tour__pic {
}
.tour__thumb {
}

.tour__info {
  padding-left: 47px;
}

.tour__title {
  margin-bottom: 85px;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  color: #102746;
}

.tour__desc {
  margin-bottom: 58px;
  font-size: 16px;
  line-height: 24px;
  color: #102746;
}

.tour__more {
  background: url(../img/svg/arrow-right-ico.svg) no-repeat right center;
  padding-right: 59px; /* учитываем размер стрелки */
  background-size: 33px;
  font-size: 16px;
  line-height: 24px;
  color: #006DFE;
  text-decoration: none;
  transition: 0.5s;
}

.tour__more:hover,
.tour__more:focus
 {
  opacity: 0.65;
}
/*! Tours style End //////////////////////////////////////////////////////// */


/*! Top style Start  **************************************************** */

.top {
  margin-bottom: 86px;
}

.top__title {
  margin-bottom: 58px;
}

.section-title {
}

.top__cards {  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 57px;
}

.top__card {
  display: flex;
  flex-direction: column; /*! что бы кнопки были с низу */
}

.top__card-pic {
  position: relative;
  margin-bottom: 45px;
}

.top__card-thumb {
}

.top__card-stats {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 16px 25px;
  background-color: rgba(21, 24, 36, 0.6);
}

.top__card-title {
  margin: 0 auto 0 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}
.top__card-likes {
  margin-right: 14px;
  padding-right: 20px;
  background: url(../img/svg/heart-ico.svg) no-repeat right center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
.top__card-likes-value {
 
}
.top__card-comments {
  padding-right: 23px;
  background: url(../img/svg/coment-ico.svg) no-repeat right center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
.top__card-comments-value {
}
.top__card-desc {
  margin-bottom: 31px;
  font-size: 16px;
  line-height: 24px;
  color: #102746;
}

.top__card-more {
  padding: 12px 19px;
  width: 118px;
  margin: auto 0 0 0; /*! что бы кнопки были с низу */
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background: #006DFE;
  text-decoration: none;
}
.top__card-more:hover, .top__card-moret:focus, .top__card-moret:active {
  background: #1366d5;
}
/*! Top style End //////////////////////////////////////////////////////// */


/*! Videos style Start  **************************************************** */
.videos {
  width: 100%;
}

/*? Видео красиво позиционирую  */
.videos__wrapper {
  position: relative; /* сжималось без линий */
  max-width: 1440px;
  margin: 0 auto;
}

.video__item {
  /* 9/16*100 для видео 9*16 что бы сжималось без линий */
  padding-top: 56.25%;
}

/* сжималось без линий */
.video__element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*! Videos style End //////////////////////////////////////////////////////// */


/*! footer style Start  **************************************************** */
.footer {
  padding: 119px 0;
  background: #0E1D28;
}

.footer__item {
  display: flex;
  flex-wrap: wrap;
}
.footer__logo {
  width: 50%;
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
}

.footer__menu-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.footer__menu-title:hover {
  scale: 1.1;
}

.footer__menu-link {
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
}

.footer__menu-link:hover,
.footer__menu-link:focus,
.footer__menu-link:active
{
  opacity: 0.7;
}
/*! footer style End //////////////////////////////////////////////////////// */



/*! Media Start */

@media screen and (max-width: 950px) {
  .header__wrapper {
    padding: 30px 80px 20px 80px;
  }
} 

@media screen and (max-width: 767px) {
  

  .header__burger {
  display: block;
  }

  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 75px;
    width: 100%;
    height: 100%;
    z-index: 7;
    background: #000000;
    transform: translateX(100%);
    transition: 0.5;
  }

  .header__nav-active {
    transform: translateX(0);
  }

  .header__list {
    flex-direction: column;
    gap: 20px;
  }

  .header__link {
    font-size: 42px;
    line-height: 48px;
  }

  .header__nav-close {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 20px;
    z-index: 8;
  }
  .header__nav-close-line {
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 2px;
    background: #FFFFFF;
  } 
  .header__nav-close-line:first-child {
    transform: translateY(-50%) rotate(45deg);
  }
  .header__nav-close-line:last-child {
    transform: translateY(-50%) rotate(-45deg);
  }

 } 

/*! Media End */

/* •	порядок определения стилей:
o	позиционирование
o	блочная модель (размеры, отступы)
o	типографика (свойства шрифта)
o	оформление (цвет фона, тень)
o	анимация */
